BASE_URL={BASE_URL}
FILE_URL={FILE_URL}
SENTRY_AUTH_TOKEN={SENTRY_AUTH_TOKEN}
SENTRY_ADMIN_DSN={SENTRY_DSN}
SENTRY_COMPANY_DSN={SENTRY_DSN}
SENTRY_STUDENT_DSN={SENTRY_DSN}
MODE={development|staging|production}