# envenvironment
.env
**/.env

# compiled output
dist
**/dist

# dependencies
node_modules
**/node_modules

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/coverage
*.log
*.tsbuildinfo

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

vite.config.*.timestamp*
vitest.config.*.timestamp*

.yarn/install-state.gz